<% layout('layouts/boilerplate') %>

<div class="row">
	<h1 class="text-center">Edit your profile</h1>
	<div class="col-6 offset-3">
		<form
			action="/carers/<%= carer._id %>?_method=PUT"
			method="POST"
			novalidate
			class="validated-form"
			enctype="multipart/form-data"
		>
			<div class="mb-3">
				<label class="form-label" for="title">Title</label>
				<input
					class="form-control"
					type="text"
					name="carer[title]"
					id="title"
					value="<%= carer.title %> "
					required
				/>
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="location">Location</label>
				<input
					class="form-control"
					type="text"
					name="carer[location]"
					id="location"
					value="<%= carer.location %> "
					required
				/>
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="price">Hourly rate</label>
				<div class="input-group">
					<span class="input-group-text" id="price-label">$</span>
					<input
						type="text"
						class="form-control"
						placeholder="0.00"
						aria-label="price"
						aria-describedby="price-label"
						id="price"
						name="carer[price]"
						value="<%= carer.price %> "
						required
					/>
					<div class="valid-feedback">Looks good!</div>
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="description">Description</label>
				<textarea
					class="form-control"
					type="text"
					name="carer[description]"
					id="description"
					required
				>
<%= carer.description %></textarea
				>
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<div class="custom-file">
					<input
						type="file"
						class="custom-file-input form-control"
						id="image"
						name="image"
						multiple
					/>
				</div>
			</div>
			<div class="mb-3">
				<button class="btn btn-info">Update profile</button>
			</div>
			<div class="mb-3">
				<% carer.images.forEach(function(img, i){ %>
				<img src="<%= img.thumbnail %>" class="img-thumbnail" alt="Image" />
				<div class="form-check-inline">
					<input
						type="checkbox"
						id="image-<%= i %>"
						name="deleteImages[]"
						value="<%= img.filename %>"
					/>
				</div>
				<label for="image-<%= i %>">Delete</label>
				<% }) %>
			</div>
		</form>
		<a href="/carers/<%= carer._id %> ">Back to your profile</a>
	</div>
</div>
