<% layout('layouts/boilerplate') %>

<div class="row">
	<h1 class="text-center">Edit your profile</h1>
	<div class="col-6 offset-3">
		<form action="/carers/<%= carer._id %>?_method=PUT" method="POST">
			<div class="mb-3">
				<label class="form-label" for="title">Title</label>
				<input
					class="form-control"
					type="text"
					name="carer[title]"
					id="title"
					value="<%= carer.title %> "
				/>
			</div>
			<div class="mb-3">
				<label class="form-label" for="location">Location</label>
				<input
					class="form-control"
					type="text"
					name="carer[location]"
					id="location"
					value="<%= carer.location %> "
				/>
			</div>
			<div class="mb-3">
				<label class="form-label" for="image">Image URL</label>
				<input
					class="form-control"
					type="text"
					name="carer[image]"
					id="image"
					value="<%= carer.image %> "
				/>
			</div>
			<div class="mb-3">
				<label class="form-label" for="price">Hourly rate</label>
				<div class="input-group">
					<span class="input-group-text" id="price-label">$</span>
					<input
						type="text"
						class="form-control"
						placeholder="0.00"
						aria-label="price"
						aria-describedby="price-label"
						id="price"
						name="carer[price]"
						value="<%= carer.price %> "
					/>
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="description">Description</label>
				<textarea
					class="form-control"
					type="text"
					name="carer[description]"
					id="description"
				>
<%= carer.description %></textarea
				>
			</div>
			<div class="mb-3">
				<button class="btn btn-info">Update profile</button>
			</div>
		</form>
		<a href="/carers/<%= carer._id %> ">Back to your profile</a>
	</div>
</div>
