<% layout('layouts/boilerplate') %>
<h1><%= carer.title %></h1>
<h2><%= carer.location %></h2>
<img src="<%= carer.image %> " alt="Healthcare related image">
<p><%= carer.description %> </p>
<p><a href="/carers/<%= carer._id %>/edit ">Edit profile</a></p>
<p><form action="/carers/<%= carer._id %>?_method=DELETE" method="POST"><button>Delete profile</button></form></p>
<footer>
	<a href="/carers">All carers</a>
</footer>

