<%- include("partials/header") %>

<h2>This is the posts page</h2>

<% for(let i = 0; i < posts.length; i++) { %>
    <li> 
        <%= posts[i].title %>, written by <%= posts[i].author %> 
    </li>
<% } %>

<% posts.forEach(function(post){ %>
    <li> 
        <%= post.title %>, written by <%= post.author %> 
    </li>
<% }) %>

<%- include("partials/footer") %>